.shm {
    @media (max-width: calc(424.98 / 16 * 1rem)) {
        &.close {
            .shm__list {
                margin-top: -100%;
            }

            .shm__title {
                &::after {
                    transform: translate(0px, -50%) rotate(0deg);
                }
            }
        }

        &__title {
            line-height: 150%;
            user-select: none;
            cursor: pointer;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                right: 0;
                border-left: calc(6 / 16 * 1rem) solid transparent;
                border-right: calc(6 / 16 * 1rem) solid transparent;
                border-top: calc(8 / 16 * 1rem) solid #000;

                transform: translate(0px, -50%) rotate(180deg);
                transition: all 0.2s ease;
            }
        }

        &__list-wrap {
            overflow: hidden;
        }

        &__list {
            transition: all 0.4s ease;
        }
    }
}
