.tab {
    &__header {
        display: flex;
    }

    &__link {
        padding: 5px 15px;
        cursor: pointer;
        user-select: none;

        @media (any-hover: hover) {
            &:hover {
                text-decoration-line: underline;
            }
        }

        &.active {
            text-decoration-line: underline;
        }
    }

    &__content {
    }

    &__item {
        display: none;

        &.open {
            display: block;
        }
    }
}
